:root {
  --border: #818285;

  --red: #eb6a5e;
  --yellow: #f4bd4f;
  --green: #64c253;

  --black: #000;
  --white: #fff;

  --grey: #a7a9ac;
  --dark-grey: #3a3a3c;
}

* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 30px 20vw;
}

.window {
  background: var(--border);
  border: 1px solid var(--border);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 2px;
  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 6px;
}

nav p {
  color: var(--white);
  font-size: 0.8em;
}

.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.circle-1 {
  background: var(--red);
}
.circle-2 {
  background: var(--yellow);
}
.circle-3 {
  background: var(--green);
}

.content {
  background: var(--white);
  display: flex;
  height: 300px;
  position: relative;
}

.square {
  background: var(--black);
  color: var(--white);
  width: 80px;
  height: 80px;
}

/* Challenge 01 */
#challenge-01 .content,
#challenge-01 .box {
  display: flex;
  justify-content: space-between;
}
#challenge-01 .square-02 {
  margin-right: 5px;
}

/* Challenge 02 */
#challenge-02 .content {
  display: flex;
  flex-direction: column;
}
#challenge-02 .square-02 {
  align-self: center;
}
#challenge-02 .square-03 {
  align-self: flex-end;
}

/* Challenge 03 */
#challenge-03 .content {
  padding: 40px;
}

#challenge-03 .square-01 {
  background: var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  position: relative;
}

#challenge-03 p {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

/* Challenge 04 */
#challenge-04 .square-01 {
  position: absolute;
  top: 0;
  left: 0;
}

#challenge-04 .square-02 {
  background: var(--dark-grey);
  position: absolute;
  top: 30px;
  left: 30px;
}

/* Challenge 05 */
#challenge-05 .content {
  display: flex;
  flex-direction: column;
}
#challenge-05 .square-01 {
  align-self: flex-end;
}
#challenge-05 .square-02 {
  align-self: center;
}

/* Challenge 06 */
#challenge-06 .square-01 {
  background: var(--dark-grey);
  position: absolute;
  width: 70%;
  height: 140px;
  bottom: 0;
  right: 0;
}
#challenge-06 .square-02 {
  position: absolute;
  bottom: 0;
  left: 0;
}
#challenge-06 .square-03 {
  position: absolute;
  top: 0;
  right: 0;
}

/* Challenge 07 */
#challenge-07 .square-01 {
  background: var(--dark-grey);
  position: relative;
  width: 160px;
  height: 160px;
}
#challenge-07 .square-02 {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Challenge 08 */
#challenge-08 .square-01 {
  background: var(--dark-grey);
  position: relative;
  width: 160px;
  height: 160px;
}
#challenge-08 .square-02 {
  position: absolute;
  top: 0;
  right: 0;
}

/* Challenge 09 */
#challenge-09 .square-01 {
  background: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  height: 240px;
  position: relative;
}
#challenge-09 p {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

/* Challenge 10 */
#challenge-10 .square-01 {
  background: var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 240px;
  height: 140px;
  margin: 20px auto;
  position: relative;
}
#challenge-10 p {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

/* Challenge 11 */
#challenge-11 .square-01 {
  background: var(--dark-grey);
  width: 240px;
  height: 80%;
  position: relative;
}
#challenge-11 .square-02 {
  position: absolute;
  width: 160px;
  height: 160px;
  bottom: 0;
  right: 0;
}
#challenge-11 .square-03 {
  background: var(--grey);
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* Challenge 12 */
#challenge-12 .square-01 {
  background: var(--dark-grey);
  width: 240px;
  height: 80%;
}
#challenge-12 .square-02 {
  position: absolute;
  width: 160px;
  height: 180px;
  bottom: 80px;
  left: 180px;
}
#challenge-12 .square-03 {
  position: absolute;
  background: var(--grey);
  width: 120px;
  height: 120px;
  bottom: 40px;
  left: 140px;
}

/* Challenge 13 */
#challenge-13 .square-01 {
  position: absolute;
  top: 0;
  left: 0;
}
#challenge-13 .square-02 {
  background: var(--dark-grey);
  position: absolute;
  top: 30px;
  left: 30px;
}
#challenge-13 .square-03 {
  position: absolute;
  top: 60px;
  left: 60px;
}
#challenge-13 .square-04 {
  background: var(--dark-grey);
  position: absolute;
  top: 90px;
  left: 90px;
}
#challenge-13 .square-05 {
  position: absolute;
  top: 120px;
  left: 120px;
}

/* Challenge 14 */
#challenge-14 .square-01 {
  background: var(--dark-grey);
  width: 240px;
  height: 240px;
  margin-left: auto;
  position: relative;
}

#challenge-14 .square-02 {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Challenge 15 */
#challenge-15 .square-01,
#challenge-15 .square-04 {
  background: var(--dark-grey);
  width: 34%;
  height: 160px;
}
#challenge-15 .square-01 {
  position: absolute;
}
#challenge-15 .square-02 {
  position: absolute;
  top: 0;
  right: 25%;
}
#challenge-15 .square-03 {
  position: absolute;
  bottom: 20px;
  left: 0;
}
#challenge-15 .square-04 {
  position: absolute;
  bottom: 20px;
  right: 25%;
}

/* Challenge 16 */
#challenge-16 .content {
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  height: 865px;
  padding: 20px;
}

#challenge-16 .bnr {
  background: url('https://mcdonalds.vn/uploads/2018/home/1170x300-GMALpx.jpg') right center/cover no-repeat;
  border-radius: 5px;
  width: 100%;
  height: calc(40% - 10px);
}

#challenge-16 .box {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  width: calc(50% - 10px);
  height: calc(60% - 10px);
}

#challenge-16 .box-img {
  background: url('https://mcdonalds.vn/uploads/2018/home/mccafe_desktop.jpg') center/cover no-repeat;
}

#challenge-16 .box-small {
  background: orange;
  height: calc(50% - 10px);
}

#challenge-16 .box-small:nth-child(1) {
  background: url('https://mcdonalds.vn/uploads/2018/home/home-stories.jpg') center/cover no-repeat;
}
#challenge-16 .box-small:nth-child(2) {
  background: url('https://mcdonalds.vn/uploads/2018/home/hr-pc.jpg') center/cover no-repeat;
}

#challenge-16 .bnr-small {
  background: url('https://mcdonalds.vn/uploads/2018/home/home-banner-hamburger.jpg') right center/cover no-repeat;
  height: calc(50% - 10px);
}

/* Challenge 17 */
#challenge-17 .content {
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  padding: 20px;
  height: auto;
}

#challenge-17 .box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#challenge-17 .box-01 {
  padding-bottom: 20px;
}

#challenge-17 .three {
  border: 1px solid var(--grey);
  border-radius: 5px;
  width: calc(33.3333% - 10px);
  height: 100%;
  text-align: center;
}

#challenge-17 .three img {
  width: 100%;

}

#challenge-17 .four {
  border: 1px solid var(--grey);
  border-radius: 5px;
  width: calc(25% - 10px);
  height: 100%;
  text-align: center;
}

#challenge-17 .four img {
  width: auto;
  max-width: 100%;
  height: 140px;
}

#challenge-17 p {
  font-weight: bold;
  text-transform: uppercase;
}

#challenge-17 .four p {
  text-align: left;
  padding: 10px;
}